*{
    margin:0;
    padding:0;
}
.wrapper{
    height:1030px;
    width:970px;
    background-color: #1b335e;
}
.header{
    height:80px;
    width:950px;
    background-color: #d02e2f;  
    border-radius: 10px;
    margin: 10px 10px;
}
.navigator{
    height:220px;
    width:200px;
    background-color: darkolivegreen;
    margin: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.content{
    height:830px;
    width:700px;
    background-color: black;
    margin: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.footer{
    height:70px;
    width:950px;
    background-color: grey;
    border-radius: 10px;
}